@model IEnumerable<ShopSmartPhoneConnection.Manufacturer>
@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("ID", "Mã hãng sản xuất"),
    grid.Column("ManufacturerName", "Tên hãng sản xuất"),
    grid.Column("Logo", "Hình ảnh", format: p => @Html.Raw("<img width=\"150\" height=\"50\" src=\"../../Content/Logo/" + p.Logo + "\">")),
    grid.Column("Status", "Trình trạng"),
    grid.Column(format: p => @Html.ActionLink(" Detail |", "Details", new { id = p.ID })),
    grid.Column(format: p => @Html.ActionLink("| Edit |", "Edit", new { id = p.ID })),
    grid.Column(format: p => @Html.ActionLink("| Delete", "Delete", new { id = p.ID }))
    ))

<style>
    .gridTable {
        border: 2px solid #3646a4;
    }

    .gridRow {
        background-color: aqua;
    }
</style>

