@model IEnumerable<ShopSmartPhoneConnection.Product>

@{
    ViewBag.Title = "Index";
   
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}





<h2>Danh sách sản phẩm</h2>
@Html.ActionLink("Thêm sản phẩm", "Create", null, new { @class = "btn btn-success" })
<br /><br />

@*Thể hiện dữ liệu thông qua control webGrid*@
@grid.GetHtml(
    tableStyle: "gridTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("ID", "Mã sản phẩm"),
    grid.Column("ProductName", "Tên sản phẩm"),
    grid.Column("Price", "Giá"),
    grid.Column("Image", "Hình ảnh", format: p => @Html.Raw("<img width=\"150\" height=\"50\" src=\"../../Content/Image/" + p.Image + "\">")),
    grid.Column(format: p => @Html.ActionLink("Detail |", "Details", new { id = p.ID })),
    grid.Column(format: p => @Html.ActionLink("| Edit |", "Edit", new { id = p.ID })),
    grid.Column(format: p => @Html.ActionLink("| Edit Specification |", "EditSpecification", new { id= p.ID})),
    grid.Column(format: p => @Html.ActionLink("| Delete", "Delete", new { id = p.ID }))
    ))

<style>
    .gridTable {
        border: 2px solid #3646a4;
    }

    .gridRow {
        background-color: aqua;
    }
</style>